.navbar {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    width: 100%;

    &-header {
        padding: 0.25rem;
    }
    &-body {
        padding: 0.25rem;
    }
    &-footer {
        color: $error-color;
        padding: 0.25rem;
        cursor: pointer;
    }
}
