.template {
    @include flex(flex-start, center);
    flex-direction: column;
    height: 100%;
    &-title,
    &-lineaction {
        // width: 100%;
        margin-left: 3rem;
        text-align: start;
        padding: 0.5rem 3rem;
    }
    &-data{
        width: 100%;
        height: 100%;
    }
    &-search {
        width: 100%;
    }
    &-lineaction {
        padding: 0.5rem 3rem;
    }
    &-search {
        text-align: center;
        padding: 0.75rem;
    }
    &-data {
        &-container {
            width: 90%;
            margin: auto;
            height: 100%;
        }
        .MuiButton-root {
            width: auto;
            background-color: unset;
            color: $btn-main-bg;
        }
        .MuiButton-root:hover {
            background-color: unset;
            color: $btn-main-bg;
        }
        .MuiButton-root:focus {
            background-color: unset;
            color: $btn-main-bg;
        }

    }
    &-modal {
        @include flex(center, center);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.lg {
            width: 75%;
            @include largescreen {
                width: 60%;
            }
        }
        &.sm {
            width: 35%;
            @include mobile {
                width: 100%;
            }
            @include tablet {
                width: 60%;
            }
        }
        &-content {
            // @include flex(center, center);
            flex-direction: column;
            background-color: $main-bg;
            height: 100%;
            width: 100%;
            border-radius: $border-radius;
            padding: 2rem 2.5rem;

            &-title {
                width: 100%;
                margin: 10px 0;
                margin-top: 20px;
                & > p {
                    margin-bottom: 5px;
                }
            }
            &-field {
                width: 100%;
                &-content {
                    @include flex(center, flex-start);
                    margin: 10px 0;
                    column-gap: 10px;
                    &-label {
                        width: 50%;
                        padding-top: 10px;
                    }
                    &-input {
                        color: $txt-third-color;
                    }
                }
            }
            &-action {
                @include flex(center, center);
                margin-top: 30px;
                height: 25px;
                column-gap: 5%;
                // &-btn {
                //     &.lg {
                //         width: 15%;
                //     }

                //     width: 30%;
                //     height: 100%;
                // }
            }
        }
    }
}
