@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
// button {
//     border: unset;
//     transition: ease-in 0.25s;
//     border-radius: $border-radius;
//     color: inherit;
// }
// button:hover,
// button:focus {
//     background-color: #00000066;
//     opacity: 0.7;
// }

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14pt;
    @include mobile {
        font-size: 9pt;
    }

    // .MuiButton-root {
    //     width: 100%;
    //     height: 100%;
    // }
    .MuiInputBase-root {
        color: black;
    }
    .MuiOutlinedInput-root {
        color: black;
        outline: $txt-third-color;
    }

    // .MuiButton-root {
    //     color: $btn-main-color;
    //     background-color: $btn-main-bg;
    //     opacity: 1;
    //     // transition: 0.75s;
    //     height: 100%;
    //     // color: var(--color);
    //     transition: 0.25s;

    //     &:hover,
    //     &:focus {
    //         border-color: var(--hover);
    //         border-radius: $border-radius;
    //         color: #fff;
    //     }
    //     &.btnError {
    //         background-color: $btn-second-bg;
    //         transition: 0.25s;
    //     }
    //     &.btnError:hover,
    //     &.btnError:focus {
    //         background-color: $btn-second-bg;
    //         transition: 0.25s;
    //     }
    // }
    // .MuiButton-root:hover,
    // .MuiButton-root:focus {
    //     color: $btn-main-color;
    //     background-color: $btn-main-bg;
    // }
    .pulse:hover {
        animation: pulse 1s;
        box-shadow: 0 0 0 1rem rgba(#fff, 0);
    }

    .btnPassword {
        .MuiButton-root:hover,
        .MuiButton-root {
            background-color: $main-bg;
            color: black;
            border: 1px solid black;
        }
    }
    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 var(--hover);
        }
    }

    .MuiDataGrid-columnHeaderTitle {
        color: black;
        // font-weight: 900 !important;
    }
    .MuiDataGrid-cell {
        // color: $txt-third-color;
        // font-weight: 700;
        .MuiButton-root {
            width: 50%;
            height: 50%;
            font-size: 8pt;
        }
    }
    .MuiDataGrid-root {
        border-left: unset;
        border-right: unset;
    }
    .MuiBreadcrumbs-root {
        margin-left: 10px;
    }
    .MuiDivider-root {
        margin: 0;
    }
    .MuiPaper-root {
        box-shadow: none;
    }
    .MuiAvatar-root {
        border-radius: $border-radius;
        width: 100%;
    }
    .MuiGrid-root {
        margin-top: 0;
        width: 100%;
        margin-left: 0;
    }
}
a {
    text-decoration: none;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    border-radius: 5px;
    padding: 0px 5px;
    transition: ease-in 0.25s;

    &:hover,
    &:focus {
        background-color: #00000066;
        // opacity: 0.7;
    }
}

.main {
    color: $txt-main-color;
    padding: calc(#{$header-height} + 10px) 0.25rem 0 0.25rem;
    a {
        color: $txt-main-color !important;
    }
}
.container {
    height: 100%;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: black;
    background-attachment: fixed;
    overflow: auto;
    a {
        color: black !important;
    }
}
#csvFile {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14pt;
}

