$mobile-width: 699px;
$tablet-width: 1024px;
$largescreen-width: 1920px;

$main-bg: #fff;
// $main-color: #4267b2;
$main-color: #1976d2;
$main-block: #f0fcff;

// $txt-main-color: #42a5f5;
$txt-main-color: black;
$txt-second-color: #023e8a;
$txt-third-color: #00000099;
$txtbox-bg: #ade8f4;

$in_active-color: #caf0f8;
$active-color: #0077b6;
$error-color: #f45858;

$btn-main-bg: #1976d2;
$btn-second-bg: rgba(0, 0, 0, 0.2);
$btn-main-color: #fff;

$mobile-width: 600px;
$tablet-width: 1024px;

$header-height: 70px;
$navbar-header-height: 40px;

$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

$itemhover: rgba(0, 0, 0, 0.04);

$border-radius: 5px;

$colors: (
    // fill: #a972cb,
    pulse: #0096c7,
    btnError: $btn-second-bg // close: #ff7f82,
    // raise: #ffa260,
    // up: #e4cb58,
    // slide: #8fc866,
    // offset: #19bc8b,
);

// Sass variables compile to a static string; CSS variables are dynamic and inherited
// Loop through the map and set CSS custom properties using Sass variables
@each $button, $color in $colors {
    .#{$button} {
        --color: #{$color};
        --hover: #{adjust-hue($color, 0deg)};
    }
}
